@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<section class="content-header">
    <ol class="breadcrumb pull-left">
        <li><a href=@Url.Content("~")><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Employee</li>
    </ol>
    <h1>
        Employee List
    </h1>
</section>

<section class="content">
    <div class="row" ng-controller="EmployeeController">
        <div class="col-xs-12">
            @*<form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="" placeholder="" />
                        </div>
                    </div>
                </form>*@
            <div class="box">
                <div class="box-header">
                    <div class="col-xs-6">
                        <h3 class="box-title">Employee List</h3>
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" id="emp-name" name="emp-name" ng-model="Name" />
                    </div>
                    <div class="col-xs-2" >
                        <a href="#" target="_parent" class="btn pull-right">Click here for Instructions</a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>First name</th>
                                <th>Last Name</th>
                                <th>Branch</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>EMP001</td>
                                <td>Edwin</td>
                                <td>J</td>
                                <td>Alabama</td>
                                <td>edit &minus; delete</td>
                            </tr>
                            <tr>
                                <td>EMP002</td>
                                <td>Edwin</td>
                                <td>J</td>
                                <td>Alabama</td>
                                <td>edit &minus; delete</td>
                            </tr>
                            <tr>
                                <td>EMP003</td>
                                <td>Edwin</td>
                                <td>J</td>
                                <td>Alabama</td>
                                <td>edit &minus; delete</td>
                            </tr>
                            <tr>
                                <td>EMP004</td>
                                <td>Edwin</td>
                                <td>J</td>
                                <td>Alabama</td>
                                <td>edit &minus; delete</td>
                            </tr>

                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>

